.div-1{
    width: 600px;
    height: 300px;
    border: 1px solid red;
    
}
.bg-red{ background-color: red; }
.bg-green{ background-color: green; }
.bg-black{ background-color: black; }
.bg-white{ background-color: #fff; }