<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Template</title>
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <nav>
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <div class="logo">
                        <img src="image/logo(2).png" alt="logo" height="50">
                    </div>
                </div>
                <div class="col-9">
                    <div class="menu">
                        <ul>
                            <li><a href="">Home</a></li>
                            <li><a href="">Properties</a></li>
                            <li><a href="">News</a></li>
                            <li><a href="">Elements</a></li>
                            <li><a href="">Gallery</a></li>
                            <li><a href="">Contact</a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </nav>
    <section class="slider-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="slider-content">
                        <h1>Apartment</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi istinctioi stincti oistinct ioistinctio d laudantiu ratione sint.</p>
                        <hr>
                        <div class="row">
                            <div class="col-6">
                                <h2>$ 250.00</h2>
                            </div>
                            <div class="col-6">
                                <a href="#">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="feature">
        <div class="container">
            <div class="row">
                <div class="col-4 feature-border">
                    <div class="pixel-perfact">
                        <div class="row">
                            <div class="col-4">
                                <div class="cir"><i class="fa fa-3x fa-thumbs-up"></i></div>
                            </div>
                            <div class="col-8">
                                <h1>Pixel Perfect</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab culpa delectus dolorum ducimus, error, et expli</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4 feature-border respon">
                    <div class="responsive">
                        <div class="row">
                            <div class="col-4">
                                <div class="cir"><i class="fa fa-3x fa-random"></i></div>
                            </div>
                            <div class="col-8">
                                <h1>Responsive</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4 feature-border">
                    <div class="easy">
                        <div class="row">
                            <div class="col-4">
                                <div class="cir"><i class="fa fa-3x fa-magic"></i></div>
                            </div>
                            <div class="col-8">
                                <h1>Easy to custom</h1>
                                <p>Lorem ipsum dolor sit amet amet consequatur culpa debitis delectus </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-9">
                    <div class="row">
                        <h1 class="recent-pro">Recent Properties</h1>
                    </div>
                    <div class="row">
                        <div class="col-4 content-width ">
                            <div class="overlay con-img1">
                                <h2>For sale</h2>
                                <h2 class="price">$250.00</h2>
                            </div>
                            <div class="property-name">
                                <h2>
                                    16 Riverside Avenue
                                </h2>
                                <p>Balwyt North, VC, 3104.</p>
                                <hr/>
                                <div class="row pd">
                                    <div class="col-6">
                                        <p><i class="fa fa-home"></i>500 m<sup>2</sup></p>
                                    </div>
                                    <div class="col-3"><i class="fa fa-bed"></i> 2</div>
                                    <div class="col-3"> <i class="fa fa-bath"></i> 2</div>
                                </div>
                            </div>

                        </div>
                        <div class="col-4 content-width" style="margin: 0 1.8%; ">
                            <div class="overlay con-img2">
                                <h2>For sale</h2>
                                <h2 class="price">$250.00</h2>
                            </div>
                            <div class="property-name">
                                <h2>
                                    16 Riverside Avenue
                                </h2>
                                <p>Balwyt North, VC, 3104.</p>
                                <hr/>
                                <div class="row pd">
                                    <div class="col-6">
                                        <p><i class="fa fa-home"></i>500 m<sup>2</sup></p>
                                    </div>
                                    <div class="col-3"><i class="fa fa-bed"></i> 2</div>
                                    <div class="col-3"> <i class="fa fa-bath"></i> 2</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 content-width ">
                            <div class="overlay con-img3">
                                <h2>For sale</h2>
                                <h2 class="price">$250.00</h2>
                            </div>
                            <div class="property-name">
                                <h2>
                                    16 Riverside Avenue
                                </h2>
                                <p>Balwyt North, VC, 3104.</p>
                                <hr/>
                                <div class="row pd">
                                    <div class="col-6">
                                        <p><i class="fa fa-home"></i>500 m<sup>2</sup></p>
                                    </div>
                                    <div class="col-3"><i class="fa fa-bed"></i> 2</div>
                                    <div class="col-3"> <i class="fa fa-bath"></i> 2</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 content-width ">
                            <div class="overlay con-img4">
                                <h2>For sale</h2>
                                <h2 class="price">$250.00</h2>
                            </div>
                            <div class="property-name">
                                <h2>
                                    16 Riverside Avenue
                                </h2>
                                <p>Balwyt North, VC, 3104.</p>
                                <hr/>
                                <div class="row pd">
                                    <div class="col-6">
                                        <p><i class="fa fa-home"></i>500 m<sup>2</sup></p>
                                    </div>
                                    <div class="col-3"><i class="fa fa-bed"></i> 2</div>
                                    <div class="col-3"> <i class="fa fa-bath"></i> 2</div>
                                </div>
                            </div>

                        </div>
                        <div class="col-4 content-width" style="margin: 0 1.8%; ">
                            <div class="overlay con-img5">
                                <h2>For sale</h2>
                                <h2 class="price">$250.00</h2>
                            </div>
                            <div class="property-name">
                                <h2>
                                    16 Riverside Avenue
                                </h2>
                                <p>Balwyt North, VC, 3104.</p>
                                <hr/>
                                <div class="row pd">
                                    <div class="col-6">
                                        <p><i class="fa fa-home"></i>500 m<sup>2</sup></p>
                                    </div>
                                    <div class="col-3"><i class="fa fa-bed"></i> 2</div>
                                    <div class="col-3"> <i class="fa fa-bath"></i> 2</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 content-width ">
                            <div class="overlay con-img6">
                                <h2>For sale</h2>
                                <h2 class="price">$250.00</h2>
                            </div>
                            <div class="property-name">
                                <h2>
                                    16 Riverside Avenue
                                </h2>
                                <p>Balwyt North, VC, 3104.</p>
                                <hr/>
                                <div class="row pd">
                                    <div class="col-6">
                                        <p><i class="fa fa-home"></i>500 m<sup>2</sup></p>
                                    </div>
                                    <div class="col-3"><i class="fa fa-bed"></i> 2</div>
                                    <div class="col-3"> <i class="fa fa-bath"></i> 2</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-3">
                    <div class="form">
                        <div class="row">
                            <h1><i class="fa fa-search"></i> Find your home</h1>
                        </div>
                        <div class="row">
                            <form>
                                <div class="col-12">
                                    <label for="location">location</label>
                                </div>
                                <div class="col-12">
                                    <select name="location" id="location" class="fom">
                                    <option value="any">Any</option>
                                </select>
                                </div>
                            </form>
                        </div>
                        <div class="row">
                            <form>
                                <div class="col-12">
                                    <label for=type>type</label>
                                </div>
                                <div class="col-12">
                                    <select name="type" id="type" class="fom">
                                    <option value="any">Any</option>
                                </select>
                                </div>
                            </form>
                        </div>
                        <div class="row">
                            <div class="col-6">

                                <form>
                                    <div class="row">

                                        <div class="col-12">
                                            <label for="beds">beds</label>
                                        </div>
                                        <div class="col-12">
                                            <select name="beds" id="beds" class="fom">
                                        <option value="any">Any</option>
                                    </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-6">
                                <form>
                                    <div class="row">
                                        <div class="col-12">
                                            <label for="baths">baths</label>
                                        </div>
                                        <div class="col-12">
                                            <select name="baths" id="baths" class="fom">
                                        <option value="any">Any</option>
                                    </select>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">

                                <form>
                                    <div class="row">
                                        <div class="col-12">
                                            <label for="price-from">Price from</label>
                                        </div>
                                        <div class="col-12">
                                            <select name="price-from" id="price-from" class="fom">
                                    <option value="any">Any</option>
                                </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-6">
                                <form>
                                    <div class="row">

                                        <div class="col-12">
                                            <label for="price-to">Price-to</label>
                                        </div>
                                        <div class="col-12">
                                            <select name="price-to" id="price-to" class="fom">
                                    <option value="any">Any</option>
                                </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button type="submit" class="fom button">Submit</button>
                            </div>
                        </div>
                    </div>
                    <div class="agent">
                        <div class="row ">
                            <div class="col-12">
                                <h2>Agent</h2>

                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-4"><img src="image/agent_pic_1.jpg" alt=""></div>
                            <div class="col-8">
                                <h2>Jon doue</h2>
                                <p>222 8405</p>
                                <a href="#">contact@example.com</a>

                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-4"><img src="image/agent_pic_2.jpg" alt=""></div>
                            <div class="col-8">
                                <h2>Sarah Michelle</h2>
                                <p>222 8405</p>
                                <a href="#">contact@example.com</a>

                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-4"><img src="image/agent_pic_4.jpg" alt=""></div>
                            <div class="col-8">
                                <h2>Michael Smith </h2>
                                <p>222 8405</p>
                                <a href="#">contact@example.com</a>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-12 footer">
                    <h1>"Fantastic ... and thanks for the help, I really appreciate the service and concern "</h1>
                    <h3>By Md. Firoj Uddin</h3>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>
